{% extends 'sentimientos/base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="text-decoration-underline">Aplicación para el trabajo de titulación</h2><br><br>
                <h3 class="fw-light">Minería de texto para el análisis de sentimientos en procesos de enseñanza aprendizaje al utilizar
                    la red social Facebook</h3>
            </div>
        </div>
    </div>
{% endblock %}